html, body{

  font-size: 16px;
  font-family: Arial;
  margin: 0;
  padding: 0;
}
header{

  background-color: #336699;
  color: white;
  padding: 10px;
  height: 72px;

}


header .title{

  color: white;
  font-size: 24px;

}

header a{

  color: white;
}

footer{

  background-color: #666666;
  color: white;
  padding: 10px;

}

section{

  min-height: 450px;
}



form{

  padding: 20px;
}


.posts{
  height: 200px;
  border: 1px solid grey;
  overflow: auto;
}
